
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

body {
    font-family: 'Barlow Condensed', sans-serif;

    background-color: #fff;


}

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";



.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #FFCD07;
}

.mainLoginInput::-moz-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #FFCD07;
}

.mainLoginInput:-ms-input-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #FFCD07;
}

header {

    background-color: #FFCD07;
    height: max-content;
    color: #ffff;
    

}

header #select {
    margin-top: 60px;
    font-size: 25px;
    text-align: center;
}

#searchbar {
    margin-top: 60px;
    border-radius: 0;
    color: #FFCD07;
    font-size: 25px;
    
}



a.navbar-brand {
    font-family: 'Anton', sans-serif;
    margin-top: 15px;
    margin-left: 50px;
    display: inline-block;
    font-size: 80px;
    
}

main {
    background-color: #fff;
}

.login {
    
    height: max-content;
    background-color: #FFCD07;
}

#brandlogin {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 200px;
    color:#fff;
    display: inline-block;
    
    
}

@media screen and (max-width: 992px) {
    #brandlogin {
        display: none;
    }
}

.card {
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 30px;
    margin-left: 70px;
    height: max-content;

}

.card #signin {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
}

.card #form {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}

  #btn-signup {
  
    background-color: #FFCD07;
    
    display:inline-block;
    justify-content: center;
    width: 96%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.card #txt-or {
    display: inline-block;
    text-align: center;
}

.card #btn-brand {
    background-color: transparent;
    border: #FFCD07 1px solid;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
   
}





#content-brand-icon {
    font-size: 50px;
    
    

}

#content-brand-icon a {
    text-decoration: none;
}

#content-brand-icon a i {
    color: black;
}

.footer .container-fluid {
    margin-top: 15px;
    background-color: #FFFDF3;
}


.footer .container-fluid .container {
    padding: 3rem;
}

#footer-title {
    font-family: 'Barlow Condensed', sans-serif;
    
    font-size: 30px;
    font-weight: bolder;
    color:#FFCD07;
    
}


#content-cat {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 800;
}
/* =============== Content Rigt Start ============*/

#Day {
   margin-top: -20px;
   font-size: 20px;
}




/* Modal Photo*/


/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


#content {
    background-color: #FFFAE7;
    height: max-content;
}

#btn-deal {
    background-color: #FFCD07;
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}


hr {
    border: 2px solid #FFE300
}


#ct-1 {
    background-color: #FFFAE7;

}

#viewmore {
    background-color: #FFEDA4;
    font-size: 45px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-right: 10px;
    margin-right: 30px;
    color: #FFCD07;
}

#txt-cat {
    font-weight: bold;
}

#image {
    width:640px;
    height:360px;
}