
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

body {
    font-family: 'Anton', sans-serif;

    background-color: #fff;


}

header {

    background-color: #ffff;
    height: max-content;
    color: #FFCD07;
    

}

a.navbar-brand {
    margin-top: 15px;
    margin-left: 50px;
    display: inline-block;
    font-size: 40px;
}

main {
    background-color: green;
}

.login {
    
    height: max-content;
    background-color: #FFCD07;
}

#brandlogin {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 200px;
    color:#fff;
    display: inline-block;
    
    
}

@media screen and (max-width: 992px) {
    #brandlogin {
        display: none;
    }
}

.card {
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 30px;
    margin-left: 70px;
    height: max-content;

}

.card #signin {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
}

.card #form {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.card  #btn-signup {
  
    background-color: #FFCD07;
    
    display:inline-block;
    justify-content: center;
    width: 96%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.card #txt-or {
    display: inline-block;
    text-align: center;
}

.card #btn-brand {
    background-color: transparent;
    border: #FFCD07 1px solid;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
   
}


/* ======================================= How It's Work StaRt ============================*/

#id-how{
    font-family: 'Barlow Condensed', sans-serif;
    
    font-weight: 900;
    margin-top: 30px;
    height: max-content;
    background-color: #FFFDF3;
}

div.content h1 {
    font-size: 30px;
}


div.content #txt-content{
    background: #FFCD07;

}

#txt-how-title {
    font-weight: 900;
    font-size: 25px;
}

#txt-how-content {
    font-weight: 500;
    font-size: 20px;
}


ion-icon  {
    display: inline-block;
    border-radius: 70px;
    padding: 0.5em 0.5em;
    background-color: #FFCD07;
    box-shadow: none;
    font-size: 30px;
  
}

/* ======================================= How It's Work StaRt End ============================*/


#content-brand-icon {
    font-size: 50px;
    
    

}

#content-brand-icon a {
    text-decoration: none;
}

#content-brand-icon a i {
    color: black;
}

.footer .container-fluid {
    margin-top: 15px;
    background-color: #FFFDF3;
}


.footer .container-fluid .container {
    padding: 3rem;
}

#footer-title {
    font-family: 'Barlow Condensed', sans-serif;
    
    font-size: 30px;
    font-weight: bolder;
    color:#FFCD07;
    
}


#content-cat {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 800;
}


